{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block keywords %}{{ page.keywords }}{% endblock %}

{% block siteurl %}/{{ page.url }}{% endblock %}

{% block meta_tags %}
<meta property="og:title" content="{{ SITENAME }} — {{ page.title }}" />
<meta property="og:url" content="{{ page.url }}"/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:author" content="{{ page.author }}" />
{% endblock %}

{% block twitter_card %}
<meta name="twitter:title" content="{{ SITENAME }} — {{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<!--meta name="twitter:image" content=""-->
{% endblock %}


{% block content %}
<div class="ui main container">
    <h1 class="ui">{{ page.title }}</h1>

    {{ page.content }}
</div>
{% endblock %}
